 <div class="container-fluid mt-5 about-style " id="aboutid">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <h1 class="text-center main-heading">About Us</h1>
                    <p class="text-center sub-heading">Groth your business with us</p>
                    <div class="row">
                    <div class="col-md-6 col-12 hero-text  ">
                         <figure>
                                <img src="images/about.svg" alt="herosection_image">
                            </figure>
                        </div>
                    {{!-- right side --}}
                        <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                           <h1>WE are the Professional <span style="color: #5222d0;">developer</span> &#128076</h1>

                           <p>Welcome to <span class="bold-style">ACL</span>. Your number one source for all things. 
                               we are dedicated to giving you the very best of work. 
                               we focus on three characteristics. ie. dependability, 
                               customer service and uniqueness.</p>
                        
                    
                        <a href="#" ><button class="btn-style ">Read more</button></a>
                    
                        </div>
                    </div>
                </div> 
            </div>
        </div>
