<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    {{!-- start nav --}}
    {{>nav}}
    {{!-- end nav --}}

    {{!-- start hero --}}
        {{>hero}}
    {{!-- end hreo --}}

     {{!-- start aboutus --}}
       {{>about}}
    {{!-- end aboutus --}}

    {{!-- start service --}}
        {{>service}}
    {{!-- end service --}}

     {{!-- start maps --}}
        {{>maps}}
    {{!-- end maps --}}

    {{!-- start contact --}}
        {{>contact}}
    {{!-- end contact --}}
    
     {{!-- start footer --}}
    {{>footer}}
    {{!-- end footer --}}

    <script src="jq/jquery.js" type="text/javascript"></script>
    <script src="js/bootstrap.js" type="text/javascript"></script>
</body>
</html>